logs
project/project
project/target
public/images/upload
target
tmp
.history
dist
conf/application.conf
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target/
/bin/
.DS_Store
