.link-buttton {
  /*width: 200px;
  height: 100px;*/
  /*padding: 10px 10px;*/
  margin: auto;
}

.result-error{
  color: red;
}

h4.container-title{
  position: relative;
  height: 100%;
}

.r-side-position{
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  font-size: small;
  font-weight: initial;
}
