@(title: String, registedFunctionList: List[models.entity.TbFunction])

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-theme.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-theme.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-slider.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/dashboard.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-glyphicons.css")">
    <style type="text/css">
      body { padding-top:20px; }
      h2 { padding:20px; }
    </style>

  </head>
  <body>
@navi(title)

<h2 class="panel-title">Setting API</h2>

<div class="container">
	<div class="row">
        <!-- panel preview -->
        <div class="col-sm-5">

            <h4>Add Function:</h4>

            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                  <div class="form-group">
                      <div class="col-sm-12 text-right">
                        <br/>
                        <button type="button" class="btn btn-default preview-add-button" onclick="location.href='/api_edit/0'" >
                          <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                        <br/><span>　</span>
                      </div>
                  </div>
                </div>
            </div>
        </div> <!-- / panel preview -->
	</div>
</div>




<div class="container">
	<div class="row">
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->

                    <!-- <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span> -->
                </div>
            </form>
        </div>
		<div class="col-md-9">
    	 <table class="table table-list-search" id="api-list">
                    <thead>
                        <tr>
                            <th>Function Name</th>
                            <th>Regist Datetime</th>
                            <th>Access Point</th>
                            <th>Edit</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(registedFunction <- registedFunctionList) {
                        <tr>
                            <td>@registedFunction.name / @registedFunction.typeName</td>
                            <td>@registedFunction.getRegistDatetimeLabel()</td>
                            <td>@registedFunction.url</td>
                            <th><a href="/api_edit/@registedFunction.id" class="glyphicon glyphicon-edit" style="text-decoration: none;"></a></th>
                            <th><a onclick="deleteApi(@registedFunction.id);" class="glyphicon glyphicon-remove" style="text-decoration: none;"></a></th>
                        </tr>
                    }
                    </tbody>
                </table>
		</div>
	</div>
</div>
@helper.form( action = routes.SettingApiController.deleteApi, 'id -> "deleteApiForm"){
	<input type="hidden" name="deleteApiId" id="deleteApiId" value="">
}
</body>
  <script type="text/javascript" src="@routes.Assets.at("js/jquery.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/bootstrap.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/bootstrap.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/api.js")"></script>

</html>


