@(title: String, functionList: List[models.entity.TbFunction], fileList: List[models.entity.TbUploadFile], workList: List[models.entity.TbWork], workflowXml: String, form1: Form[models.vo.ExTbWorkflowVo])

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-theme.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-theme.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-slider.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/dashboard.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-glyphicons.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/workflow.css")">
    <style type="text/css">
      body { padding-top:20px; }
      h2 { padding:20px; }
    </style>
    <script type="text/javascript" src="@routes.Assets.at("js/jquery.min.js")"></script>

  </head>
  <body>
@navi(title)

<h2 class="panel-title">WorkflowEdit</h2>

    <div class="container-fluid" style="width:100%;">

        <h3>Canvas</h3>

        <div class="blockly-container">
          <div id="blocklyDiv"></div>

          <xml id="toolbox" style="display: none">
            <category name="Input Data" colour="240">
              <category name="Sample" colour="120">
              <block type="InputData"></block>
              <block type="InputData2"></block>
              </category>
              <category name="Upload" colour="120">
              @for(file <- fileList) {
               <block type="@file.typeName"></block>
              }
              </category>
              <category name="Element" colour="120">
                <block type="Carbon"></block>
                <block type="Chrome"></block>
              </category>
            </category>

            <category name="Function" colour="200">
              <category name="Local"  colour="100">
                <block type="Binarization"></block>
                <block type="ConvertGrayScale"></block>
                <block type="CalcAverageBrightness"></block>
                <block type="OutputVRObjectFromThermocalc"></block>
                <block type="OutputARObjectFromThermocalc"></block>
              </category>
              <category name="Remote"  colour="100">
              @for(func <- functionList) {
               <block type="@func.typeName"></block>
              }
              </category>
            </category>
            @block_list()
          </xml>

          <xml id="startBlocks" style="display: none">

          </xml>
        </div>
        <br>

        @if(workList.size == 0){
        <button class="btn btn-default" id="upload-xml-btn"><span class="glyphicon glyphicon-open-file"></span> Upload </button>
        }
        <button class="btn btn-default" id="save-to-file"><span class="glyphicon glyphicon-save-file"></span> Download </button>
        <input type="file" id="upload-xml" style="display: none" >
        @if(workList.size > 0){
       	<a href="/workflow/0?id=@workList.head.workflowId" class="btn btn-default btn-lg link-buttton" role="button"><span class="glyphicon glyphicon-copy"></span>Copy</a>
        }
        @if(workList.size == 0){
        <button class="btn btn-default btn-lg pull-right" id="execute-workflow"> Execute <span class="glyphicon glyphicon-play-circle"></span></button>
		}
        @helper.form( action = routes.WorkflowController.registWork, 'id -> "workForm"){
        	<textarea id="workflowXml" name="workflowXml" style="display:none"></textarea>
        	<span id="taskListTag"></span>
        	<span id="varListTag"></span>
        }
    </div>
    <div class="container-fluid" style="width:100%;">
    @if(workList != null) {
      <h3>Result</h3>
      <div id="result-view">
      	 <table class="table table-list-search">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Start Datetime</th>
                    <th>End Datetime</th>
                </tr>
            </thead>
            <tbody id="task_tr">
            @for(work <- workList) {
             @if(work.getType() == 2) {
             <tr>
                <td>@work.sortNo</td>
                <td>@work.task</td>
                <td>@work.getStatusLabel() @if(work.isProcessing()){<img src="/assets/gif-load.gif"></img>}</td>
                <td>@work.getStartDatetimeLabel()</td>
                <td>@work.getEndDatetimeLabel()</td>
             </tr>
             }
             @if(work.getType() == 1 || work.getType() == 3) {
             <tr>
                <td >@work.sortNo</td>
                <td >@work.task</td>
                  <td colspan="4"><img id="work_@work.id" src="" style="max-width: 100px;">
                      <script type="text/javascript">@Html(work.getAsyncImageScript())</script>
                      </td>

             </tr>
             }
             @if(work.getType() == 4) {
             <tr>
                <td >@work.sortNo</td>
                <td >@work.task</td>
                <td colspan="4">@work.getParamText(1)</td>
             </tr>
             }
             @if(work.getType() == 5) {
             <tr>
                <td >@work.sortNo</td>
                <td >@work.task</td>
                <td colspan="4">average  &lt; @work.getParamText(3) </td>
             </tr>
             }
             @if(work.getType() == 6) {
                          <tr>
                             <td >@work.sortNo</td>
                             <td >@work.task</td>
                             <td colspan="4">@if(work.status == "30") {<button type=button onclick="@work.index()">download}</td>
                          </tr>
                          }
            }
            </tbody>
        </table>
      </div>
    }


    </div>
 </body>
  <script id="inp-file-template" type="text/template">
  </script>

  <script type="text/javascript" src="@routes.Assets.at("js/bootstrap.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/bootstrap.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/blockly_compressed.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/blocks_compressed.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/javascript_compressed.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/logic.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/math.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/lists.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/msg/js/en.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/lodash.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/blockly_ui.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/sipmi.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/task_list.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/main.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/result.js")"></script>


  @for(func<- functionList) {
  	<script type="text/javascript">@Html(func.definition)</script>
  }

  @for(file<- fileList) {
  	<script type="text/javascript">
  	@Html(
  		models.blockly.BlockFactory.createJavascriptBlock(file.typeName, file.fileName)
  	)
  	</script>
  }

  <script type="text/javascript">_onLoadXml = '@Html(workflowXml)'</script>
  <script type="text/javascript" src="@routes.Assets.at("js/onload.js")"></script>


</html>
